/*
* Brick the Code
* index
*/


@font-face{
	font-family: Ubuntu;
	src: url('fonts/Ubuntu.ttf') format('truetype');
}
@font-face{
	font-family: UbuntuC;
	src: url('fonts/UbuntuC.ttf') format('truetype');
}
@font-face{
	font-family: mrbedfort;
	src: url('fonts/mrbedfort.ttf') format('truetype');
}
@font-face{
	font-family: 'Open Sans';
	src: url('fonts/OpenSans-Light.ttf') format('truetype');
}
@font-face{
	font-family: trebuchet;
	src: url('fonts/trebuchet-ms.ttf') format('truetype');
}
@font-face{
	font-family: plakkaat;
	src: url('fonts/Plakkaat.ttf') format('truetype');
}
html{	height:400px;	width:100%; }
body{
	position: relative;
	height:100%;	width:100%;
	background: url(../img/bg1.jpg) center no-repeat; background-size: 100%;
}
*{	margin: 0; padding: 0; }



.header {
	position: relative; top: 0; height: 60px; width: 100%;
	background: rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.45),inset 0 -1px 0 rgba(0,0,0,0.1);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.25),inset 0 -1px 0 rgba(0,0,0,0.1);
	-ms-box-shadow: 0 1px 3px rgba(0,0,0,0.25),inset 0 -1px 0 rgba(0,0,0,0.1);
	-o-box-shadow: 0 1px 3px rgba(0,0,0,0.25),inset 0 -1px 0 rgba(0,0,0,0.1);
	box-shadow: 0 1px 3px rgba(0,0,0,0.25),inset 0 -1px 0 rgba(0,0,0,0.1);
}
.header-wrp {
	position: relative; top: 0; height: 60px; width: 980px; margin: 0 auto;
	background: url(../img/btc.png) left no-repeat; background-size: 60px 60px;
}
.header-wrp ul {
	position: absolute; float: right; right: 0; height: 60px; width: 700px;
}
.header-wrp ul a {
	position: relative; display: inline; list-style-type: none; float: right;
	height: 42px; min-width: 80px; width: auto; font: lighter 16px 'Open Sans'; color: #fff; padding-top: 18px;
	margin-left: 15px; text-decoration: none; text-align: center;
}
.header-wrp ul a:hover { text-decoration: underline; }

.content {
	position: relative; top: 0; height: 450px; width: 980px; margin: 0 auto;
	padding-top: 50px; font: lighter 26px 'Open Sans'; text-align: center; color: #fff;
}
#index-learn {
	position: absolute;
	height: 32px;
    width: 150px; left: 45%; top: 350px; margin: -75px 0 0 -21px;
    padding-top: 10px;
    font: 18px Ubuntu; text-decoration: none; color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid transparent; cursor: pointer;
    background: #2AB558; 
    background-image: linear-gradient(bottom, #38AD5F 0%, #2AB558 100%);
    background-image: -o-linear-gradient(bottom, #38AD5F 0%, #2AB558 100%);
    background-image: -moz-linear-gradient(bottom, #38AD5F 0%, #2AB558 100%);
    background-image: -webkit-linear-gradient(bottom, #38AD5F 0%, #2AB558 100%);
    background-image: -ms-linear-gradient(bottom, #38AD5F 0%, #2AB558 100%);
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #38AD5F), color-stop(1, #2AB558) );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#38AD5F', endColorstr='#2AB558',GradientType=0 ); /* IE6-9 */
}
#index-learn:hover {
	 border: 1px solid #147E46;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    background: #32A358;
    background-image: linear-gradient(bottom, #32A358 0%, #2AB558 100%);
    background-image: -o-linear-gradient(bottom, #32A358 0%, #2AB558 100%);
    background-image: -moz-linear-gradient(bottom, #32A358 0%, #2AB558 100%);
    background-image: -webkit-linear-gradient(bottom, #32A358 0%, #2AB558 100%);
    background-image: -ms-linear-gradient(bottom, #32A358 0%, #2AB558 100%);
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #32A358), color-stop(1, #2AB558) );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#32A358', endColorstr='#2AB558',GradientType=0 ); /* IE6-9 */
}
#index-learn:active {
	border: 1px solid #212925;
    box-shadow: 0 1px 1px rgba(255, 255, 255, .2);
}

.footer-line {
	position: relative; top: 0px; height: 5px; width: 100%;
	background: #80bbf7;
}
.footer {
	position: relative; top: 0; height: 150px; width: 100%;
	background: #111;
}
.footer-c {
	position: relative; top: 0; height: 140px; width: 980px; margin: 0 auto; padding-top: 10px;
	font: bold 14px Arial, 'Arial Black'; text-align: center; color: #999;
}
.footer-c ul {
	position: relative; top: 30px; height: 50px; width: 100px;
	text-align: left;
}
.footer-c ul a {
	position: relative; display: block; list-style-type: none; margin-top: 5px;
	font: bold 12px 'Open Sans'; text-decoration: none; color: #1c74b3;
}
.footer-c ul a:hover {
	color: #e1e1e1;
}